body {
    margin: 0;
   
    background: rgb(248, 249, 250) !important;
}
.WrapperOneFirst {
    background-color: #939878;
    height: 40px;
    font-size: 14px;
    font-family: Roboto;
    color: #FFFFFF;
    display: flex;
    gap: 584px;
    align-items: center;
    justify-content: flex-end;
}

.WrapperOneFirst img {
    width: 14.06px;
    height: 14.06px;
    position: relative;
    left: -51px;
}
.WrapperOneFirst span {
    position: relative;
    left: -54px;
    top: 2px;
}
.logo1 {
    width: 32px;
    height: 32px;
    background-color: #CF6F49;
    border-radius: 12px;
    position: relative;
    top: 21px;
}

.firstdivisionW1 span {
    font-size: 21px;
    font-family: Roboto;
    font-weight: 600;
    color: #2A2C1F;
    margin-right: -17px;
    position: relative;
    left: 7px;
    top: 1px;
}
.seconddivisionW1 span {
    font-weight: 400;
    font-family: Roboto;
    color: #222222;
    line-height: 24px;
}
.WrapperOneSecond {
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstdivisionW1 {
    display: flex;
    margin-right: 441px;
    position: relative;
    line-height: 76px;
    left: -1px;
}
.seconddivisionW1 {
    display: flex;
    gap: 34px;
    position: relative;
    top: 9px;
}
.dropdownhW1 {
    position: relative;
    left: 11px;
}
span.aboutW1 {
    position: relative;
    left: 13px;
}
span.contactW1 {
    position: relative;
    left: 15px;
}
span.searchW1 {
    position: relative;
    left: 22px;
}
img.searchW1 {
    position: relative;
    top: 3px;
    left: -2px;
}
button.btncart {
    width: 100px;
    height: 42px;
    border-radius: 7px;
    border-color: #8080801f;
    position: relative;
    top: -10px;
    font-size: 16px;
    left: 15px;
}
button.btncart span {
    position: relative;
    left: 3px;
}
button.btncart img {
    position: relative;
    top: 4px;
}
button.btnProperty {
    width: 159px;
    height: 42px;
    border-radius: 6px;
    border: 1px;
    background-color: #CF6F49;
    
    position: relative;
    top: -10px;
    left: -3px;
    font-size: 16px;
}
button.btnProperty span {
    position: relative;
    color: #FFFFFF;
    top: 1px;
}
.seconddivisionW1 span{
    font-size: 16px;
}
.WrapperOneThird {
    background: #E7E8E3;
    display: flex;
}
span.dreamplace {
    margin-left: 99px;
    font-size: 14px;
    font-family: Roboto;
    border-radius: 9px;
    width: 171px;
    height: 29px;
    text-align: center;
    align-content: center;
    left: -26px;
    top: -13px;
    position: relative;
}
.detailsW31 span.dreamplace{
    background: #65665c75;
}
.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detailsW31 {
    display: flex;
    flex-direction: column;
}
span.familyinminutes {
    font-size: 56px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 67.2px;
    margin-left: 96px;
    position: relative;
    top: 6px;
    left: -17px;
}
p.lorem {
    font-size: 20px;
    font-family: Roboto;
    line-height: 30px;
    font-weight: 400;
    margin-left: 186px;
    position: relative;
    left: -108px;
    top: 8px;
}
.detailsW32 {
    display: flex;
    margin-left: 96px;
}
.searchbar {
    width: 304px;
    border: 2px solid #FFFFFF;
    background: #FFFFFF;
    border-radius: 6px;
    height: 44px;
    border-radius: 6px;
    position: relative;
    left: -17px;
    top: 8px;
}
.searchbar img {
    padding-left: 16px;
    padding-top: 16px;
    height: 18px;
    width: 18px;
    position: relative;
    top: -3px;
}
.searchbar span {
    font-family: Roboto;
    margin-left: 10px;
    font-size: 20px;
    color: #65665C;
    position: relative;
    top: -5px;
    left: 10px;
}
button.findproperty {
    border-radius: 6px;
    width: 154px;
    background: #CF6F49;
    height: 50px;
    border: #CF6F49;
    font-size: 20px;
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 400;
    position: relative;
    top: 8px;
}
span.MMedia {
    font-size: 18px;
    font-family: Roboto;
}
p.worlds {
    font-size: 18px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -333px;
    top: 45px;
}
.Wrappper2W1 {
    display: flex;
    justify-content: center;
    line-height: 27px;
    margin-bottom: 101px;
}
p.work {
    font-size: 48px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 57.6px;
    align-content: center;
    position: relative;
    left: -2px;
}
p.nunc {
    font-size: 18px;
    font-family: Roboto;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -27px;
    position: relative;
    left: -3px;
}
.Wrapper2W2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Wrapper2WThree1, .Wrapper2WThree2, .Wrapper2WThree3 {
    width: 403px;
    height: 287px;
    border-radius: 16px;
    border: 2px solid #8080804d;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img.homepic {
    width: 28px;
    height: 21px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 27px;
    border: 2px solid #FAE8E1;
    background-color: #FAE8E1;
}

p.getkeys,p.deal,p.findaproperty {
    font-weight: 700;
    font-size: 24px;
    font-family: Roboto;
    line-height: 33.6px;
    align-content: center;
}
p.odales, p.odalesTWO, p.odalesTHREE{
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
}
.MiddleDescript {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    gap: 28px;
}
.Wrapper2WThree1 {
    position: relative;
    left: -5px;
}

.Wrappper2W1 img {
    width: 728px;
    height: 54px;
    margin-right: -328px;
    position: relative;
    top: 60px;
}
.Wrapper2WThree2 {
    position: relative;
    left: -3px;
}
p.odales {
    margin-left: 46px;
    margin-top: -11px;
}
p.findaproperty {
    position: relative;
    top: -5px;
}
img.homepic {
    position: relative;
    top: 20px;
}
span.magna {
    margin-left: -10px;
}
span.purus {
    margin-left: 30px;
}

p.odalesTWO {
   
        margin-left: 51px;
        margin-top: -18px;
    
}
span.magnaTWO {
    margin-left: 18px;
    position: relative;
    left: -15px;
}
span.purusTWo {
    margin-left: 4px;
    position: relative;
    left: 12px;
}
p.deal {
    position: relative;
    top: -12px;
    LEFT: 1PX;
}
 img.receiptpic {
    width: 23px;
    height: 28px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 27px;
    border: 2px solid #FAE8E1;
    background-color: #FAE8E1;
    position: relative;
    top: 16px;
 }

p.odalesTHREE {
    margin-left: 58px;
    margin-top: -7px;
}
span.magnaTHREE {
    margin-left: 14px;
    position: relative;
    left: -8px;
}
span.purusTHREE {
    margin-left: 7px;
    position: relative;
    left: 13px;
}
p.getkeys {
    position: relative;
    top: -1px;
}
img.keypic {
    width: 28px;
    height: 17px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 27px;
    border: 2px solid #FAE8E1;
    background-color: #FAE8E1;
    position: relative;
    top: 21px;
}
span.comfort {
    color: #2A2C1F;
    font-size: 14px;
    font-family: Roboto;
    background-color: grey;
    border-radius: 17px;
    padding-right: 28px;
    padding-left: 28px;
}
span.housesfamily {
    font-size: 48px;
    font-family: Roboto;
    font-weight: bold;
    color: #2A2C1F;
}
p.ectus {
    font-size: 18px;
    font-family: Roboto;
    color: #65665C;
}
.explorePROPERTIES span {
    font-size: 16px;
    color: #2A2C1F;
    font-family: Roboto;
}
button.explorePROPERTIES {
    border: 1px solid #65665c5e;
    background-color: white;
    border-radius: 6px;
}

.dropUP span {
    font-size: 16px;
    font-family: Roboto;
    color: #2A2C1F;
}
.Wrapper3 {
    margin-top: 128px;
    display: flex;
}